.my_title{
    padding-bottom: 15px;
    border-bottom: 2px solid #111;
    font-size: 18px;
    font-weight: bold;
}
.my_cart_title{text-align: center;}
.my_cart_title,
.my_cart_item{
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
}
.my_cart_chk{
    width: 5%;
    text-align: center;
}
.my_cart_desc_box{ width: 50%; }
.my_cart_item .my_cart_desc_box{
    display: flex;
    align-items: center;
}
.my_cart_item_title{ margin-bottom: 5px; }
.my_cart_desc_box > img{width: 15%;}
.my_cart_desc{
    padding-left: 10px;
}

.my_cart_cnt{
    width: 15%;
    text-align: center;
}
.my_cart_point,
.my_cart_price,
.my_cart_btn{
    width: 10%;
    text-align: center;
}
.my_cart_prevCnt,
.my_cart_nextCnt{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 100%;
    color: #6d6f6d;
    font-size: 18px;
    cursor: pointer;
}
.my_cart_cntNum{
    width: 10%;
    border: 0;
    text-align: center;
}
.my_cart_cntNum::-webkit-outer-spin-button,
.my_cart_cntNum::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.my_cart_btn{
    font-size: 14px;
    cursor: pointer;
}
.my_cart_btn_buy{
    background-color: #111;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.my_cart_btn_cancle{
    margin-top: 5px;
    color: #6d6f6d;
}