/* ************************ */
/* **********헤더********** */
/* ************************ */
/* 헤더_공용 */
.h_top, .h_bot>.w_h_f{
    height: 60px;
    padding-top: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
}
/* 배너 */
.h_banner{
    width: 100%;
    background-color: #111;
    color: #fff;
    text-align: center;
}
.h_banner a{
    width: 100%;
    padding: 10px 0;
    font-size: 11px;
}

/* 헤더_탑 */
.logo{
    width: 130px;
    height: 17px;
    background: url('../img/header_logo_bk.png') no-repeat;
    text-indent: -9999px;
}
.logo a{
    width: 100%;
    height: 100%;
}
.h_t_R{
    height: 40px;
    line-height: 40px;

    display: flex;
}
.search_box{
    width: 500px;
    height: 100%;
    background-color: #f1f3f8;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;

    position: relative;
}
.search_txt{
    width: calc(100% - 30px - 20px);
    height: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: bold;

    position: absolute;
    top: 100%;
    left: 0;
}
.search_txt:first-child{top: 0}
.search_box svg{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}
.h_t_icon_box{
    height: 100%;
    margin-left: 40px;
    display: flex;
    gap: 20px;
}
.h_t_icon_box li{
    margin: auto 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
}
.cart::after{
    content: "0";
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #111;
    border-radius: 50%;

    display: inherit;
    position: absolute;
    top: 5%;
    right: -5%;
}
.cart.h_b::after{
    top: 25%;
    right: 16%;
}
.history_box{
    width: 335px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    top: 60%;
    right: -18%;
    z-index: 999;
    cursor: auto;
    display: none;
}
.history_item_box{
    padding: 15px;
    border: 1px solid #111;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
}
.history_item_box_point{
    width: 12px;
    height: 12px;
    border-top: 1px solid #111;
    border-right: 1px solid #111;
    background-color: #fff;
    transform: translateY(-56%) rotate(-45deg);

    position: absolute;
    top: 0;
    right: 10px;
}
.history_item_list{
    max-height: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}
.history_item{
    display: flex;
    align-items: center;

    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #111;

    position: relative;
}
.history_item:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}
.history_img{
    width: 30%;
    font-size: 0;
    margin-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.history_img>img{ width: 100%; }
.history_desc{
    width: 57%;
    cursor: pointer;
}
.history_desc>.item_title{
    width: 100%;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.history_btn{
    display: flex;
    justify-content: space-between
}
.history_btn_buy{
    background-color: #111;
    color: #fff;
}
.history_btn_buy, .history_btn_cart{
    width: 48%;
    padding: 5px;
    border: 1px solid #111;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}
.history:hover > .history_box,
.history_box:hover > .history_box{
    display: block;
}

/* 헤더_버텀 */
.h_bot{
    width: 100%;
    background-color: #fff;
    position: relative;
}
.h_b_nav_L, .h_b_nav_R{
    font-weight: bold;
    font-size: 15px;

    display: flex;
    align-items: center;
}
.h_b_nav_R li{ position: relative; }
.h_b_nav_L > li > a, .h_b_nav_R > li > a{
    padding: 10px 20px;
    position: relative;
}
.h_b_nav_L>li:first-child{margin-left: -20px;}
.h_b_nav_R>li:last-child{margin-right: -20px;}
.h_b_nav_L>li:nth-child(3){
    margin-right: 15px;
    position: relative;
}
.h_b_nav_L > li:nth-child(3)::before{
    content: "";
    width: 1px;
    height: 40%;
    background-color: #111;

    position: absolute;
    top: 50%;
    right: -7.5px;
    transform: translateY(-50%);
}
.h_b_nav_L > li:not(:first-child) > a:hover::after,
.h_b_nav_R > li:not(:nth-child(n+3)) > a:hover::after{
    content: "";
    width: calc(100% - (15px * 2));
    height: 2px;
    background-color: #111;

    position: absolute;
    bottom: 5px;
    left: 15px;
    z-index: 99999999;
}
.nav_pan_hover{
    position: relative;
}
.nav_pan_item{
    display: none;
    font-size: 13px;
    font-weight: bold;
    color: #636363;
    line-height: 1;
    text-wrap: nowrap;
    
    position: absolute;
    top: 100%;
    left: 20%;
    z-index: 99999999;
}
.nav_pan_item a{
    padding-bottom: 10px;
}
.nav_pan{
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    
    display: none;

    position: absolute;
    top: 85%;
    left: 0;
    z-index: 9999999;
}
/* *********************** */
/* ********헤더 픽스******* */
/* *********************** */
.header_fixed{
    padding-bottom: 60px;
}
.h_bot_fixed{
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999999;
}
.h_bot_fixed .h_b_nav_L > li > a,
.h_bot_fixed .h_b_nav_R > li > a{
    padding: 10px 8px;
}
.h_b.logo{
    padding-right: 10px;
    display: none;
}
.h_b.icon_box{
    display: none;
}



/* ************************ */
/* **********푸터********** */
/* ************************ */
.footer{
    margin-top: 100px;
    padding-top: 50px;
    font-size: 12px;
    line-height: 2;
    color: #999;
    border-top: 1px solid #111;
}
.f_L{width: 60%;}
.footer a{display: inline-block;}
.footer .logo_txt{
    color: #111;
    font-size: 13px;
    vertical-align: super;
}
.f_ul_flex{
    display: flex;
    gap: 20px;
}
.f_ul_flex li{position: relative;}
.f_ul_flex li:not(:last-child):after{
    content: "";
    width: 1px;
    height: 40%;
    background-color: #999;
    position: absolute;
    top: 30%;
    right: -9.5px;
}
.f_L_box{
    margin-top: 20px;
}
.f_R{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.f_R_first{width: 20%;}
.f_R_mid{width: calc(60% - 80px);}
.f_R_last{width: 20%;}
.f_R_box .call{
    font-size: 22px;
    color: #111;
    font-weight: bold;
    vertical-align: super;
}
.f_R_box .title{
    font-size: 14px;
    color: #111;
    font-weight: bold;
    vertical-align: super;
}
.f_R_box .btn_li{
    margin-top: 28px;
    padding: 2px 0;
    background-color: #111;
    color: #fff;
    text-align: center;
}
.btn_li a{display: block;}
.f_R_box .m_10{
    margin-top: 10px;
}
.f_R_box .welfare{width: 100%;}
.f_R_box .language, .f_R_box .sns{
    display: flex;
    gap: 10px;
}
.f_bot{
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    display: flex;
    gap: 50px;
}
.f_bot img{
    height: 100%;
}
.f_bot img + div{
    margin-left: 10px;
    float: right;
}