/* //////////////////////////// */
/* ///////// 회원 정보 ///////// */
/* //////////////////////////// */
.my_more{
    float: right;
    cursor: pointer;
    font-size: 14px;
    color: #6d6f6d;
}
.my_user{
    text-align: center;
    font-size: 28px;
}
.my_info{
    padding: 60px;
    margin-top: 40px;
    background-color: #e6e6e6;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}
.my_info_desc{
    margin-top: 20px;
    font-size: 23px;
    cursor: pointer;
}
.my_title{
    padding-bottom: 15px;
    border-bottom: 2px solid #111;
    font-size: 18px;
    font-weight: bold;
}
.mypage .my_buy_desc{width: 70%;}
/* //////////////////////////// */
/* ////// 최근 주문 내역 /////// */
/* //////////////////////////// */
.my_buy_list_title{
    display: flex;
    border-bottom: 2px solid #d3d3d3;
    font-weight: bold;
    text-align: center;
}
.my_buy_list_title_desc>*, .my_buy_title{
    padding: 15px;
    cursor: Default !important;
}
.my_buy_list_title_desc{
    display: flex;
    width: 80%;
}
.my_buy_list_title_desc>*{box-sizing: border-box;}
.my_buy_list_title_desc .my_buy_desc{ width: 61%; }
.my_buy_list, .my_buy_item{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d3;
}
.my_buy_list{border-bottom: 2px solid #d3d3d3;}
.my_buy_item:last-child{ border-bottom: 0; }
.my_buy_title{
    width: 20%;
    text-align: center;
}
.my_buy_item_list{ width: 80%; }
.my_buy_date{
    font-size: 14px;
    color: #6d6f6d;
    margin-bottom: 5px;
}
.my_buy_no{
    font-weight: bold;
    cursor: pointer;
}
.my_buy_img{
    width: 10%;
    cursor: pointer;
}
.my_buy_desc{
    width: 51%;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
}
.my_buy_itemName{margin-bottom: 5px;}
.my_buy_cnt, .my_buy_price, .my_buy_btn{
    width: 13%;
    text-align: center;
}
.my_buy_btn{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my_buy_btn>*{
    cursor: pointer;
    display: inline-block;
}
.my_buy_curr{
    color: #ef987f;
    cursor: default;
}
.my_buy_review{
    padding: 5px 10px;
    margin: 8px 0;
    background-color: #111;
    color: #fff;
}
/* //////////////////////////// */
/* /// 최근 주문 내역 더보기 /// */
/* //////////////////////////// */
.myBuy.my_title{
    border: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.my_buy_title_all,
.my_buy_title_done,
.my_buy_title_cancel{
    width: calc(100%/3);
    padding: 0 0 15px 10px;
    border-bottom: 2px solid #111;
    box-sizing: border-box;
    cursor: pointer;
}
.my_buy_title_done,
.my_buy_title_cancel{border-color: #d3d3d3;}
.my_buy{border-top: 2px solid #d3d3d3;}
.my_date{
    height: 33px;
    margin: 30px 0 15px;
    display: flex;
    font-size: 14px;
}
.my_date>li{
    padding: 5px 15px;
    border: 1px solid #d3d3d3;
    border-right: 0;
    cursor: pointer;
}
#my_date_month_6{border-right: 1px solid #d3d3d3;}
#my_date_input{
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0 10px;
}
#my_date_input>input{
    height: 100%;
    box-sizing: border-box;
    outline: none;
}
#my_date_submit{
    border: 1px solid #111;
    font-weight: bold;
}
#my_date_today:hover,
#my_date_week:hover,
#my_date_month_1:hover,
#my_date_month_3:hover,
#my_date_month_6:hover,
#my_date_submit:hover{
    background-color: #111;
    color: #fff;
}
.my_buy_etc{
    font-size: 13px;
    color: #6d6f6d;
    margin-bottom: 50px;
}

/* //////////////////////////// */
/* ////// 최근 문의 내역 /////// */
/* //////////////////////////// */
.m_qna_area{
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #333;
    border-collapse: collapse;
    border-top: 1px solid #d3d3d3;
}
.m_qna_area *{ padding: 10px; }
.m_qna_area tr,
.m_qna_area td{
    border-bottom: 1px solid #d3d3d3;
}
.m_qna_area tr{cursor: default;}
.m_qna_area td{cursor: pointer;}
.m_qna_area tr>td:nth-child(2){
    text-align: left;
    width: 50%;
}

/* //////////////////////////// */
/* /////// 포인트 내역 ///////// */
/* //////////////////////////// */
.m_qna_area.my_point tr>td{ width: 15%; }
.m_qna_area.my_point tr>td:last-child{ width: 40%; }